 body {
     background-color: #f0f0f0;
     margin: 0;
     font-family: Helvetica, Arial, sans-serif;
     font-size: 10rem;
     text-align: center;
     font-weight: bold;
     width: 100vw;
     height: 100vh;
     overflow: hidden;
     cursor: none;
 }

 body.day-mode {
     background-color: #f0f0f0;
     color: #000;
 }

 body.night-mode {
     background-color: #000;
     color: #fff;

 }

 main {
     width: 100vw;
     height: 100vh;
     display: grid;
     place-items: center;
 }

 #box {
     display: flex;
     width: 400vw;
     height: 100vh;
     margin: 0;
     padding: 0;
     line-height: 0;
     overflow: hidden;
     opacity: 0;
     z-index: 2000;
 }

 #box p {
     margin-top: 55px;
     letter-spacing: 5px;
 }

 #box {
     animation: slidein 10s infinite ease-in;
 }


 @keyframes slidein {
     0% {
         transform: translateX(25%);
         opacity: 0.5;
     }

     50% {}

     100% {
         transform: translateX(-40%);
         opacity: 0.5;

     }
 }

 #box:hover {
     animation-play-state: paused;
     opacity: 1;

 }


 #circle {
     margin: 0 auto;
     width: 5rem;
     aspect-ratio: 1/1;
     background-color: #f0f0f0;
     position: relative;
     border-radius: 100%;
     top: -1300%;
     left: -38%;
     animation: bounce 1s infinite ease-in;
 }

 @keyframes bounce {
     0% {
         top: -1300%;
         opacity: 0;

     }

     30% {
         background-color: #f0f0f0;
         opacity: 0;
     }

     50% {
         background-color: var(--random-color);
         opacity: 1;
     }

     70% {
         background-color: #f0f0f0;
         opacity: 0;
     }

     100% {
         width: 0.5rem;
         border-radius: 0 0 1rem 1rem;
         top: 0;
         opacity: 0;

     }
 }

 .custom-cursor {
     position: fixed;
     width: 3rem;
     height: 3rem;
     background-color: gainsboro;
     border-radius: 50%;
     pointer-events: none;
     /* Allow clicks to pass through */
     transform: translate(-50%, -50%);
     /* Center the cursor on the mouse pointer */
     transition: width 0.3s, height 0.3s;
     animation: cursorAnimation 2s ease-in-out 2s forwards;
 }

 @keyframes cursorAnimation {
     0% {
         transform: scale(0);
         /* Start as invisible */
     }

     100% {
         transform: scale(1);
         /* End as visible */
     }
 }

 .container {
     margin: 0;
     width: 100vw;
     height: 100vh;

     display: grid;
     place-items: center;
     position: relative;
     top: -100%;
 }

 .bottle {
     width: 50%;
     height: 55%;
     border-radius: 3rem;


     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
     overflow: hidden;

 }

 #side {

     width: 60%;
     height: 60%;
     margin: 0 auto;
     position: relative;
     top: 100px;
     border-radius: 2rem;
     z-index: 7000;
 }

 video {
     border-radius: 1rem;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     /* Ensures the video covers the entire div */
     z-index: 100;
     /* Puts the video behind other content */
 }


 #water {

     background-color: gray;
     /*clip-path: polygon(50% 2.4%,  2% 100%, 100% 100%,65.5% 33.8%);*/

     width: 100%;
     height: 100%;
     animation: water 59s infinite ease-in;
     position: relative;

     top: -100%;
     left: 0%;
 }

 @keyframes water {
     0% {
         top: 40%;
     }

     100% {
         top: -60%;
     }
 }

 #language-container {
     width: 400px;
     height: 140px;
     aspect-ratio: 1/1;
     padding: 1rem;
     z-index: 5000;
     position: relative;
     top: -120%;
     margin: 0 auto;
     display: grid;
 }


 #speakerButton {
     cursor: pointer;
     z-index: 5000;
     border-radius: 1rem;
     border: none;
     width: 40%;
     height: 30%;
     margin: 0 auto;
     height: 70px;
     

 }

 
 #speakerButton.black-background {
    background-color: black;
 }


 #speakerButton img {

     width: 50px;
     height: 50px;
     opacity: 0.4;
     border: none;
 }

 #speakerButton p {
     padding: 0;
     margin: 0;
 }



 #languageSelect {
    height: 50%;
    width: 40%;
     margin: 0 auto;
     margin-top: 20px;
 }




 #dayNightToggle {
     position: relative;
     bottom: 140%;
     width: 4rem;
     z-index: 10000;
     height: 4rem;
     left: 40%;
     background-color: transparent;
     border-radius: 0.5rem;
     border: none;
     opacity: 0.4;
     cursor: pointer;
     
 }

 #dayNightToggle:hover {
    opacity: 1;
 }

 #dayNightToggle img {
    width: 100%;
    height: 100%;
    
    
 }

 #dayNightToggle img:last-child() {
    width: 400%;
    height: 400%;
 }
 

 @media screen and (min-width: 320px) and (max-width: 991px) {
     body {
         font-size: 8rem;
     }


     main {
         width: 100vw;
         height: 100vh;
     }

     #box {
         width: 800vw;
         padding-top: 1rem;

     }

     @keyframes slidein {
     0% {
         transform: translateX(15%);
         opacity: 0.5;
     }

     50% {}

     100% {
         transform: translateX(-70%);
         opacity: 0.5;

     }
 }


     #container {
         width: 100%;
         height: 100%;
         background-color: rgb(132, 132, 133);
     }

     .bottle {
         width: 80%;
         height: 60%;
     }

     video {
         width: 130%;
         left: -30px;
     }

     #dayNightToggle {
        width: 3rem;
        height: 3rem;
     }

 }